body {
  font-family: sans-serif;
  transition: background-color 2s;
}

/******** canvas ********/

#canvas-container {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  margin: 0 auto;
}

/******** below canvas ********/

#info-container {
  width: 100%;
  margin: 0.5em auto;
}

#score-container, .arrow {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}

#score {
  display: inline-block;
}

/******** web buttons ********/

#web-instructions {
  width: 40%;
  margin: 0.5em auto;
  text-align: center;
}

/******** arrow buttons ********/

#mobile-controls {
  text-align: center;
  display:none;
}

#mob-up-arrow {
  margin: 0.5em 0.5em;
}

/******** mobile ********/

/* @media only screen and (min-width: 900px) {
  #mobile-controls {
    align-items: center;
    display:none;
  }
  #web-instructions {
    display:block;
  }
} */
