body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* display */

#score {
  display: inline-block;
}
div {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
canvas {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 200px;
}
